[submodule "sourcedata/cneuromod.anat.freesurfer_longitudinal"]
	path = sourcedata/cneuromod.anat.freesurfer_longitudinal
	url = /lustre03/project/rrg-pbellec/ria-beluga/alias/cneuromod.anat.freesurfer_longitudinal
	datalad-id = a05d7185-17f8-49d8-91ae-f3859a483815
	datalad-url = "ria+file:///lustre03/project/rrg-pbellec/ria-beluga#~cneuromod.anat.freesurfer_longitudinal"
[submodule "sourcedata/templateflow"]
	path = sourcedata/templateflow
	url = /lustre03/project/rrg-pbellec/ria-beluga/alias/templateflow
	datalad-id = c79c47b6-d0fb-11e8-aa11-64006a8a730f
	datalad-url = "ria+file:///lustre03/project/rrg-pbellec/ria-beluga#~templateflow"
[submodule "containers"]
	path = containers
	url = /lustre03/project/rrg-pbellec/ria-beluga/alias/repronim/containers
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
	datalad-url = "ria+file:///lustre03/project/rrg-pbellec/ria-beluga#~repronim/containers"
[submodule "code/smriprep"]
	path = code/smriprep
	url = git@github.com:bpinsard/smriprep.git
	datalad-url = git@github.com:bpinsard/smriprep.git
	datalad-id = 05c27744-3a81-4066-8736-8d0fd74232f7
[submodule "code/fmriprep"]
	path = code/fmriprep
	url = git@github.com:bpinsard/smriprep.git
	datalad-url = git@github.com:bpinsard/smriprep.git
	datalad-id = d75cd9e8-e9fe-40f7-9860-1bf7479c178b
[submodule "sourcedata/cneuromod.anat.gradcorrect"]
	path = sourcedata/cneuromod.anat.gradcorrect
	url = /lustre03/project/rrg-pbellec/ria-beluga/alias/cneuromod.anat.gradcorrect
	datalad-id = 05db4981-28dd-4404-a8d2-d3adc4322392
	datalad-url = "ria+file:///lustre03/project/rrg-pbellec/ria-beluga#~cneuromod.anat.gradcorrect"
