[submodule "sourcedata/cneuromod.anat.freesurfer_longitudinal"]
	path = sourcedata/cneuromod.anat.freesurfer_longitudinal
	url = https://github.com/courtois-neuromod/anat.freesurfer_longitudinal
	datalad-id = a05d7185-17f8-49d8-91ae-f3859a483815
	datalad-url = "https://github.com/courtois-neuromod/anat.freesurfer_longitudinal"
[submodule "sourcedata/cneuromod.anat.raw"]
	path = sourcedata/cneuromod.anat.raw
	url = https://github.com/courtois-neuromod/anat
	datalad-id = b376774c-889d-11ea-b60e-3ea8d101da1a
	datalad-url = "https://github.com/courtois-neuromod/anat"
